<%- include('../views/partials/header.ejs') %> 

<link rel="stylesheet" href="/stylesheet/edit-review-style.css">

<section>
    <h1 class="edit-review-header">Edit Review</h1>
</section>

<section>
    <div class="edit-review-container">
        <form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
            <label for="rating" id="rating-label">Rating</label>
            <select name="rating" id="rating" >
                <% for( let i = 1; i <= 5; i++ ) { %>
                    <% if (review.rating === i) { %>
                        <option value="<%= i %>" selected><%= i %></option>
                    <% } else { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                <% } %>
            </select><br>
            <textarea name="reviewText" id="review-text" cols="50" rows="5"><%= review.reviewText %></textarea>
            <div>
                <button id="save-button">Save Review</button>
            </div>
        </form>
    </div>
</section>

<%- include('../views/partials/footer.ejs') %>