<%- include('../views/partials/header.ejs') %> 

<link rel="stylesheet" href="/stylesheet/homepage-style.css">
<script defer src="/scripts/homepage.js"></script>
<header>
    <img src="/images/Logo.png" alt="SimpleTokens-Logo" id="simple-tokens-logo">
    <h3 class="business-motto">~ Share Joy Through Handmade Cards ~</h3>
</header>
<section class="body-section">
    <div>
        <% products.forEach((product) => { %>
            <div class="homepage-product-container">
                <a href="/products/<%=product._id%>">
                    <img src="<%= product.imagePath %> " alt="product-image" class="product-image"><br>
                </a>
                <a href="/products/<%=product._id%>" class="product-info"><%= product.name %></a><br>
                <p class="product-info">$ <%= product.price %></p><br>
            </div>
        <% }) %> 
    </div>
    <div id="review-content">
        <button id="loadReviewsButton">View Reviews</button>
    </div>
</section>

<%- include('../views/partials/footer.ejs') %>