<%- include('../views/partials/header.ejs') %> 

<section id="new-review-page">
    <form action="/reviews" method="POST">
        <input type="hidden" name="productId" value="<%= productId %>"
        <label for="rating">Rating</label>
        <select name="rating" id="rating">
            <% for( let i = 1; i <= 5; i++ ) { %>
                <option value="<%= i %>"><%= i %></option>
            <% } %>
        </select><br>
        <textarea name="reviewText" id="review-text" cols="50" rows="10"></textarea>
        <button>Submit Review</button>
    </form>
</section>

<%- include('../views/partials/footer.ejs') %>