<%- include('../views/partials/header.ejs') %> 

<section id="product-detail-page">
    <img src="/images/back-arrow.png" alt="back-arrow">
    <a href="/">Back to Browsing</a>
    <div>
        <img src="<%= product.imagePath %>" alt="product-image"><br>
    </div>
    <div>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p>$<%= product.price %></p>
        <!-- TODO: Change id to ejs -->
        <form action="/users/:id/shopping-cart?_method=PUT" method="POST">
            <label for="quantity">Quantity</label><br>
            <input name="name" type="hidden" value="<%= product.name %>"/>
            <input name="price" type="hidden" value="<%= product.price %>"/>
            <select name="quantity" id="quantity">
                <% for( let i = 1; i <= 10; i++ ) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select><br>
            <input type="submit" value="Add to cart">
        </form>
        <a href="/reviews/new">Write a Review</a>
    </div>
</section>

<%- include('../views/partials/footer.ejs') %>