<%- include('../views/partials/header.ejs') %> 

<link rel="stylesheet" href="/stylesheet/shopping-cart-page-style.css">

<section>
    <section>
        <div class="back-to-browse-container">
            <a href="/">
                <img src="/images/back-arrow.png" alt="back-arrow" id="back-arrow">
            </a>
            <a href="/" class="back-to-browsing-link">Back to Browsing</a>
        </div>
    </section>
</section>

<section>
    <h1 id="page-title">Shopping Cart</h1>
</section>

<section>
    <div class="cart-item-details">
        <table class="cart-table">
            <tr>
                <th class="shopping-cart-titles">Item</th>
                <th class="shopping-cart-titles">Quantity</th>
                <th class="shopping-cart-titles">Price</th>
                <th></th>
            </tr>
            <% let subTotal = 0 %> 
            <% user.cart.forEach(product => { %>
                <tr>
                    <td class="cart-item"><%=product.name%></td>
                    <td class="cart-item"><%=product.quantity%></td>
                    <td class="cart-item">$<%=product.price%></td>
                    <td>
                        <form action="/users/<%= user._id%>/shopping-cart?_method=DELETE" method="POST">
                            <input name="name" type="hidden" value="<%= product.name %>"/>
                            <input type="submit" value="Delete" id="delete-item">
                        </form>
                    </td>
                </tr>
                <% subTotal = subTotal + (parseInt(product.quantity) * parseFloat(product.price)) %> 
            <% }) %>
            <tr>
                <td class="item-subtotal">Subtotal</td>
                <td></td>
                <td class="subtotal-amount">$<%= subTotal.toFixed(2) %></td>
            </tr>
        </table>
    </div>
</section>

<%- include('../views/partials/footer.ejs') %>